* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.mainContainer{
    width: 100%;
    padding: 15px 15px;
}
.DashboardContainer{
    border-radius: 5px;
    box-shadow: 2px 2px 5px #838383;
    border: 1px #d6d6d6 solid;
    background-color: #ffffff;
    width: 100%;
    padding: 10px 5px;
}

.dashboardTitle, .title
{
margin-bottom: 20px;
letter-spacing: 3px;
color: #214D94;
font-size: 15px;
font-weight: bolder;
}
.shippingStatus
{
 border: 1px #d6d6d6 solid;
border-radius: 5px;
padding: 10px 5px;
display: flex;
flex-direction: column;
margin-bottom: 10px;
}

.title{
font-style:14px !important;
margin-bottom: 0px !important;
}

.cardContainer{
    padding:5px;
    overflow: auto;
}

.cards, .cardsM
{
min-width: 250px;
width: 100%;
max-width:500px;
margin-bottom: 20px;
border-radius: 5px;
display: flex;
flex-direction: column;
padding: 10px 10px;
}
.cardTitle
{

display: flex;
justify-content: end;
font-weight: bolder;
letter-spacing: 3px;
font-size: 14px;
color: #ffffff;
}
.cardIconCount{
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.d-icon{
    font-size: 20px;
    color: #ffffff;
}

.graphContainer
{
    border: 1px #d6d6d6 solid;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 5px;
}

.chartTitle{
    font-weight: bolder;
    margin: auto;
    font-size: 18px;
    color: #214D94;
    margin-bottom: 20px;
}

.dashboardBtns{
    background-color: #ffffff;
    border: 1px solid #214D94;
    border-radius: 6px;
    color: #214D94;
    text-decoration: none;
    font-size: 16px;
    min-width: 40px;
    max-width: 80px;
    max-height: 50px;
    width: 20%;
    margin: 0px 5px;
    transition-duration: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dashboardBtns:hover {
    background-color: #214D94;
    color: white;
}

.dashButtons{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.dashButtons2{
    text-align: center;
    display: none;
}

.mainChartYearly, .mainChartMonthly, .mainChartWeekly, .mainChartDaily
{
    border-radius:5px;
    padding: 15px;  
}

.mainChartMonthly, .mainChartWeekly, .mainChartYearly{
    display: none;
}

.chartType{
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.chart{
    border: 1px #d6d6d6 solid;
    border-radius:5px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}
svg{
    margin-top: -20px !important;
}

@media screen and (min-width: 668px) 
    {
    .shippingStatus
    {
        margin-bottom: 30px;
    }
    .dashboardTitle, .title
    {
        font-size: 25px;
    }
    .title{
        font-size: 20px;
        color: #214D94;
    }

    .cardContainer
    {
        display: flex;
        flex-direction: column;
        overflow-x: auto;
    }
    .cardAlign
    {
      
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    }

    .cards, .cardsM
    {
    height: 160px;
    margin-right: 0px;
    width: 32%;
    min-width: 250px;
    display: flex;
    padding: 20px;
    }
    .cardsM{
    margin-right: 30px;
    margin-left: 30px;
    }
    
    .cardTitle
    {
        margin-bottom: 15px;
        font-size: 25px;

    }
    .cardIconCount
    {
        font-size: 30px;
    }
    .d-icon
    {
        font-size: 50px;
    }
    .graphContainer
    {
        padding: 15px 10px;
    }
    .chartTitle{
        font-size: 20px;
    }
    .dashButtons2{
        display: block;
    }
    .dashButtons{
        display: flex;
        justify-content: end;
    }
    .dashboardBtns{
        padding: 0px 5px;

    }

}


.open-daily{
    display: block;
}
.open-weekly{
    display: block;
}
.open-monthly{
    display: block;
}
.open-yearly{
    display: block;
}

.close-daily{
    display: none;
}
.close-weekly{
    display: none;
}
.close-monthly{
    display: none;
}
.close-yearly{
    display: none;
}

.btn-open{
    color: #ffffff;
    background-color: #214D94;
}
