/* DRIVER */
.status-delivered{
    background-color:#66D066;
    padding: 5px;
    color: #1D4586;
    border-radius: 10px;
    color: white;
}

.status-canceled{
    background-color: #CD2B2B;
    padding: 7px;
    color: #1D4586;
    border-radius: 10px;
    color: white;
}

.status-deliveredv2{
    background-color: transparent;
    padding: 5px;
    color: #66D066;
    border-radius: 10px;
    font-weight: bold;
}

.status-canceledv2{
    background-color: transparent;
    padding: 7px;
    color: #CD2B2B;
    border-radius: 10px;
    font-weight: bold;
}

.status-OTW{
    background-color: #353535;
    padding: 5px;
    color: #1D4586;
    border-radius: 10px;
    color: white;
}

.status-proccessing{
    background-color: #1D4586;
    padding: 7px;
    color: #1D4586;
    border-radius: 10px;
    color: white;
}

.status-pending{
    background-color: #F9CD1A;
    padding: 7px;
    color: #1D4586;
    border-radius: 10px;
}

.history-table th{
    text-align:center;
    min-width: 100px;
    vertical-align: middle;
}

.history-table tr:nth-child(odd) {
    /* background-color: red; */
    background: #f6f7ff;
}
  
.history-table tr:nth-child(even) {
    background: #f6f7ff;
}

.history-table td{
    vertical-align: middle;
    background-color: transparent;
}

.history-tbody td label{
    min-width: 150px;
}

.history-tbody img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* DIPATCHER */
.dispatch-status{
    width: 10%;
}

.dispatch-driver-button{
    background-color: #1D4586;
    color: white;
    width: 120px;
    padding: 5px;
    border-radius: 10px;
}

